.header{
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: space-between;
    flex-direction:row;
}
.logo{color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;}
.menu{
    padding:25px
}
.menu1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 19px;
 
    color:aquamarine;
    align-items: center;
    justify-content: center;
}
.logoimg{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding:25px;
    color: rgb(32, 33, 36);
}
.contenido{
    display: flex;
}
.historia{
    margin-top: 50px;
    padding: 30px;
    line-height: 1.5;
    text-align: justify;
}
.imagenCont{
    padding: 60px;
}
.servicios{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
caption{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7878d6;
    padding: 10px;
    font-size: 30px;
}
.footer{
    margin: 20px;
    background-color: #31c59b;
    padding-bottom: 20px;
}
td{
    padding: 10px;
}
.piepagina{
    color: white;
    margin: 20px;
    background-color: #080808;
    padding-bottom: 20px;
}